<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:cxf="http://cxf.apache.org/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://cxf.apache.org/jaxws
        http://cxf.apache.org/schemas/jaxws.xsd http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">
      <!--配置服务端-->
        <jaxws:server address="/getWeather" serviceClass="cn.itzhangpeng.springcxf.service.WeatherService">
           <jaxws:serviceBean>
               <ref bean="weatherServiceImpl"/>
           </jaxws:serviceBean>
            <!--配置拦截器-->
        </jaxws:server>
    <bean id="loginbound" class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
    <bean id="loginoutbound" class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>
    <!--使用endpoint方式发布服务-->
    <jaxws:endpoint address="/hello" implementor="cn.itzhangpeng.springcxf.serviceimpl.HelloWrold">
        <!--使用spring管理的类，id为springbean的id或name-->
    <!--<jaxws:endpoint address="/hello" implementor="#id">-->
    </jaxws:endpoint>
    <!--总线配置，为所有的service服务配置interceptor-->
    <cxf:bus>
        <cxf:outInterceptors>
            <ref bean="loginoutbound"/>
        </cxf:outInterceptors>
        <cxf:inInterceptors>
            <ref bean="loginbound"/>
        </cxf:inInterceptors>
    </cxf:bus>
       <!--配置客户端-->
    <jaxws:client  id="cxfClient" address="http://localhost:8088/springcxf/ws/getWeather"  serviceClass="cn.zhangpeng.springcxf.WeatherService">

    </jaxws:client>
</beans>
